<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Comments</title>
  </head>
  <body>

    <p>
      <b>Commenter:</b>
      <%= comment.commenter %>
    </p>

    <p>
      <b>Comment:</b>
      <%= comment.body %>
    </p>

    <p>
      <%= link_to 'destroy', [comment.article, comment],
          method: :delete,
          data: {confirm: 'Are you sure?'} %>
    </p>
  </body>
</html>
