<h1>Welcome!</h1>
<br>
<p class='wcontent'>I'm a former sales person turned full stack- web developer. I believe that as a person I am always a student (or "always in alpha") and since I chose to be a developer I think I picked the perfect career to constantly learn in. </p>

<p class='wcontent'> Attitude is 100% of my success and with that said I've been lucky enough to have been awarded Employee of the month for September 2015 at Rogers Communications while maintaining a consistently positive sales record (125% of quota Q1 2016 & consistent ramping up to that point).</p>

<p class ='wcontent'>Why make a change? Well, frankly innovation has always been central to my mindset. I believe ideas have and always will be the way forward.When I worked at Wind Mobile innovation meant showing my manager an opportunity the company was seemingly missing. (the company was missing an opportunity for profit by not allowing people to get full speed data over 5gb) I pitched the idea (that we sell full speed data at a reasonable price since they especially were in the position to do so) and it was implemented mid-2015. </p>

<p class ='wcontent'>This also ties into why I chose to learn web development - Coding is to me, is literally the language of innovation as a physical expression. I have always been curious about the world around me when I was young I would consistently ask about the meanings of words and I became a voracious book reader. Being constantly curious now means asking myself "how will I build this?" and finding the answer.</p>

<p class ='wcontent'>In short, for me it this is where innovation & curiosity connect. I'm glad that I have my experiences from the past to help me communicate my thought processes and give me the ability to make a real impact wherever I go.

<p class ='specialties'>Specialties: HTML, CSS, Ruby, My SQL
Currently learning: Ruby On Rails
Future: JavaScript, React, Python </p>

<p class ='specialties'>Here is my Linkedin profile:<br>
  <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
  <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/hireharder" data-format="inline" data-related="false"></script>
   <br>Take a look at my code here: https://github.com/Anthematics. <br>
Reach me at Jason@hireharder.com<br>
The website is mostly under construction but I am blogging at http://www.hireharder.com/my_blog/</p>
